.entete {
    background-color: rgb(65 195 247);
    color: white;
}

.latete {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    margin-right: 45px;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    color: white;
}

.sous-entete2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 100px;
    flex-direction: row;
}

.imagess {
    margin-right: 50px;
    margin-left: 100px;
}

button {
    color: white;
    border-color: white;
    height: 30px;
    width: -webkit-fill-available;

}


.divcommenteur {
    color: white;
    background-color: rgb(65 195 247);
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 25px;

}

.divprix {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    text-align: center;
}

.divinfo {
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin: 15px;
}

.vaniguationbar {
    padding: 15px;
    color: white;
}

.row {
    height: 100%;
    align-items: center;
  }
  
  #pricing {
    height: 100%;
    padding: 100px; 
    text-align: center;
  }
  
  .card {
    border: 1px solid #f0f0f0;
  }
  
  .card-header {
    color: rgb(0, 0, 0);
    background-color: #f0f0f0;
    margin-top: -20px;
  }
  
  .pricing-column {
    padding: 3% 2%;
  }
  
  .btn-dark {
    background-color: black;
  }

  .divslogan{
    background-color: rgb(65 195 247);
    color: white;
    height: 285px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    padding-bottom: 20px;
    font-size: 26px;
  }

 .lepied{
    text-align: center;
 }


  .icondupied{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }

  .icondivcomment{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
  }

  .sousdivinfo{
    width: 200px;
  }
  